.top_bar {
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #EEEEEE;
  background-color: #ffffff;
  padding: 8px 16px;

  &_container {
    &_left {
        gap: 16px;
      height: 24px;
      &_panel {
        width: 24px;
        height: 24px;
      }
    }
    &_right {
        gap:4px;
    }
  }
}
